* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 1000px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3250;
}

.brand-logo img {
    width: 80px;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #676F9D;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #676F9D;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    } 

    .navbar-links li a {
        padding: .5rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Section 1 */
.content-section {
    width: auto;
    height: 470px;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    left: 100px;
    top: 100px;
}

.container p {
    color: #2D3250;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    left: 10px;
}

.welcome {
    font-size: 1.9rem;
}


.container h1 {
    color: #2D3250;
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.container button {
    position: relative;
    left: 20px;
    border: none;
    color: #F9B17A;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    background-color: #2D3250;
    margin-top: 20px;
    border-radius: 5px;
}

/* Section 2 */
.section2-container {
    width: auto;
    height: auto;
    background-color: #2D3250;
}

.section2-h1 {
    margin: 0;
    padding-top: 4rem;
    position: relative;
    left: 80px;
    color: white;
}

.card-container {
    background-color: #F9B17A;
    display: grid;
    place-items: center;
    margin-inline: 5rem;
    padding-block-start: 3rem ;
    padding-block-end: 6rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;
    row-gap: 4.7rem;
}

.card-article {
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
}

.card-img {
    width: 100%;
    border-radius: 1.5rem;
}

.card-data {
    width: 220px;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin-inline: auto ;
}

.card-description {
    font-size: .713rem;
    display: block;
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .75rem;
}

.card-button {
    text-decoration: none;
    font-size: .813rem;
    font-weight: 500;
    color: #2D3250;
  }

  .card-button:hover {
    text-decoration: underline;
  }

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }
    
    .card-img {
        width: 250px;
    }

    .card-data {
        width: 198px;
    }
}

@media (min-width: 600px) and (max-width: 1000px){
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-img {
        width: 220px;
    }

    .card-data {
        width: 186px;
    }
}






