:root {
    --primary-color: #2D3250;
    --secondary-color: #676F9D;
    --third-color: #F9B17A;
    --four-color: #424769;
    --white: #fff;
    --black: #000;
}

.section1-container {
    height: 400px;
    background-image: url("/images/Wahiba-Sands9.jpg");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-attachment: scroll;
    background-size: cover;
}

.section1-container h1 {
    position: relative;
    top: 80px;
    font-weight: 700;
}

.search-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn.btn-search {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 50px;
    background: #2D3250;
    color: #ffff;
}

.search-input {
    border-radius: 30px;
}
.search-input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Section 2 */
.section2-container {
    background-color: var(--white);
}

.section2-container h1 {
    padding: 50px 0 0 120px;
    font-size: 1.7rem;
    font-weight: 700;
}

.section2-container>p {
    padding-left: 120px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.795);
}

.section2-container button {
    border: 1px solid var(--black);
    padding: 10px;
    margin-right: 20px;
    border-radius: 30px;
    color: var(--black);
    background-color: var(--white);
    font-weight: 700;
    font-size: 0.9rem;
}

.btn1 {
    margin-left: 120px;
}

.card-container {
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.img-card{
    width: 368px;
}

.img-card img{
    width: 368px;
    height: 276px;
    border-radius: 10px;
}
.img-card>p{
    color: var(--black);
    padding: 10px 0 0 0;
    font-weight: 700;
}

.img-card> span {
    color: white;
}


